*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
}
.page{
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
img{
    width: 50%;
}
.container{
    width: 45%;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.input_container{
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    height: 250px;
    flex-wrap: wrap;
    box-shadow: 10px 10px;

}
.section2{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: fit-content;
}
button{
    margin: 20px 20px 0 20px;
    font-size: 20px;
    background-color: grey;
    border-radius: 10px;
    color: white;
}
p{
    margin-top: 20px;
}